.detailContainer {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.detailInfo {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.detailImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 12px;
}

.seasonSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  float: left;
}

.seasonBlock {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.episodeImage {
  max-width: 80px;
  border-radius: 12px;
  margin-right: 10px;
}

.episodeList {
  padding-left: 0;
  align-items: center;
}

.episodeTile {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
