.detailContainer {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.detailInfo {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.detailImage {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 12px;
}

.seasonSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.label {
  float: left;
}

.seasonBlock {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.episodeImage {
  max-width: 80px;
  border-radius: 12px;
  margin-right: 10px;
}

.episodeList {
  padding-left: 0;
  align-items: center;
}

.episodeTile {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.tags {
  margin: 0.5rem 0;
}

.tag {
  background: #eee;
  padding: 0.3rem 0.6rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.8rem;
}
